<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form method="post">
    <div class="form-group">

        <input class="form-control" type="hidden" th:field="${recipientOccasion.recipient}" />

        <select class="form-control" id="standardName" required>
            <option value="" selected>Choose One</option>
            <option th:each="occasion : ${occasions}"
                    th:value="${occasion}"
                    th:text="${occasion}"
                    onclick="chooseStandard()"
            ></option>
            <option value="" onclick="chooseOther()">Other</option>
        </select>

        <input class="form-control" id="customName" placeholder="Add your own" hidden disabled required/>

    </div>

    <div class="form-group">
        <label for="recurring">Repeat this occasion yearly</label>
        <input type="checkbox" id="recurring" value="true" th:field="${recipientOccasion.occasion.recurring}">
        <input type="date" class="form-control" id="date" th:field="${recipientOccasion.occasion.date}" required>
    </div>

    <input class="form-control" id="nameField" type="hidden" th:field="${recipientOccasion.occasion.name}" />
    <input type="submit" class="btn btn-success" value="Add Occasion" onmousedown="setOccasionName()">

</form>
<div th:replace="fragments :: footer"></div>
</body>
</html>