<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form method="post" class="form" style="max-width: 550px" th:object="${recipient}">

    <div class="form-row">
        <div class="form-group col-md-5">
            <label th:for="firstName">First Name</label>
            <input class="form-control" id="focus"
                   th:field="*{firstName}" placeholder="" />
            <span th:errors="*{firstName}" class="error"></span>
        </div>

        <div class="form-group col-md-7">
            <label th:for="lastName">Last Name</label>
            <input class="form-control"
                   th:field="*{lastName}" placeholder="" />
            <span th:errors="*{lastName}" class="error"></span>
        </div>
    </div>

    <div class="form-group">
        <label th:for="relationship">Relationship</label>
        <select class="form-control col-md-5" name="relationship" th:field="*{relationship}" required>
            <option value="" selected>Choose One</option>
            <option value="Spouse">Spouse</option>
            <option value="Parent">Parent</option>
            <option value="Sibling">Sibling</option>
            <option value="Child">Child</option>
            <option value="Significant Other">Significant Other</option>
            <option value="Friend">Friend</option>
            <option value="Coworker">Co-Worker</option>
            <option value="Other">Other</option>
        </select>
        <span th:errors="*{relationship}" class="error"></span>
    </div>

    <div class="form-row">
        <div class="form-group col-md-5">
            <label th:for="phoneNumber">Phone Number</label>
            <input type="tel" class="form-control" id="phoneNumber" onkeyup="phoneMask()"
                   th:field="*{phoneNumber}" placeholder="(123) 456-7890"/>
            <span th:errors="*{phoneNumber}" class="error"></span>
        </div>

        <div class="form-group col-md-7">
            <label th:for="email">Email</label>
            <input type="email" class="form-control" th:field="*{email}" placeholder="name@example.com" />
            <span th:errors="*{email}" class="error"></span>
        </div>
    </div>

    <div class="form-group">
        <label th:for="address">Shipping Address</label>
        <input class="form-control" th:field="*{address}" placeholder="" />
        <span th:errors="*{address}" class="error"></span>
    </div>

    <input type="submit" class="btn btn-primary" value="Add Recipient" />

</form>
<div th:replace="fragments :: footer"></div>
</body>
</html>