<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<table class="table table-striped">
    <tr>
        <th>Name</th>
        <td th:text="${recipient.firstName} + ' ' + ${recipient.lastName}"></td>
    </tr>
    <tr>
        <th>Relationship</th>
        <td th:text="${recipient.relationship}"></td>
    </tr>
    <tr>
        <th>Email</th>
        <td>
            <span th:unless="${recipient.email == ''}" th:text="${recipient.email}"></span>
            <a th:if="${recipient.email == ''}" th:href="'/recipient/edit/' + ${recipient.id}">Add Email</a>
        </td>
    </tr>
    <tr>
        <th>Phone Number</th>
        <td>
            <span th:unless="${recipient.phoneNumber == ''}" th:text="${recipient.phoneNumber}"></span>
            <a th:if="${recipient.phoneNumber == ''}" th:href="'/recipient/edit/' + ${recipient.id}">Add Phone Number</a>
        </td>
    </tr>
    <tr>
        <th>Address</th>
        <td>
            <span th:unless="${recipient.address == ''}" th:text="${recipient.address}"></span>
            <a th:if="${recipient.address == ''}" th:href="'/recipient/edit/' + ${recipient.id}">Add Address</a>
        </td>
    </tr>
</table>
<a th:href="'/recipient/edit/' + ${recipient.id}">Edit Recipient Info</a>
<div>
    <h3 th:text="'Occasions for ' + ${recipient.firstName}"></h3>
    <table class="table table-striped">
            <th:block th:each="occasion : ${occasions}">
                <tr><th th:text="${occasion.name}"></th>
                <td th:text="${occasion.date.getLongDate()}"></td></tr>
            </th:block>
    </table>
</div>
<a th:href="'/recipient/add-occasion?recipientId=' + ${recipient.id}">Add Occasion</a>


<!--TODO: link to edit recipient for each blank cell. Example: if birthday is blank, text reads "Add Birthday" and links to the edit recipient page-->
<!--<a th:href="'/recipient/edit?recipientId=' + ${recipient.id}">Edit</a>-->

<div th:replace="fragments :: footer"></div>
</body>
</html>