<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<div id="recipient-relationship">
    <span th:text="${recipient.relationship}"></span>
</div>
<div class="contact-info">
    <span th:unless="${recipient.email == ''}" th:text="'Email: ' + ${recipient.email}"></span>
    <a th:if="${recipient.email == ''}" th:href="'/recipient/edit/' + ${recipient.id}">Add Email</a>

    <span th:unless="${recipient.phoneNumber == ''}" th:text="'Phone: ' + ${recipient.phoneNumber}"></span>
    <a th:if="${recipient.phoneNumber == ''}" th:href="'/recipient/edit/' + ${recipient.id}">Add Phone Number</a>
</div>

<!--TODO: get address on next line-->
<div id="recipient-address">
    <span th:unless="${recipient.address == ''}" th:text="'Address: ' + ${recipient.address}"></span>
    <a th:if="${recipient.address == ''}" th:href="'/recipient/edit/' + ${recipient.id}">Add Address</a>
</div>

<div>
    <h3 th:text="'Occasions for ' + ${recipient.firstName}"></h3>
    <table class="table table-striped">
            <th:block th:each="occasion : ${occasions}">
                <tr>
                    <th th:text="${occasion.name}"></th>
                    <td th:text="${occasion.date}"></td>
                    <td>Show gift idea names, link to gift detail page. If there are no gifts, link to Add Gift</td>
                    <td>
                        <a th:href="'/recipient/edit-occasion/' + ${occasion.id}">Edit</a>
                    </td>
                </tr>
            </th:block>
    </table>
</div>
<div>
    <h3 th:text="'Gifts for ' + ${recipient.firstName}"></h3>
    <table class="table table-striped">
        <th:block th:each="gift : ${gifts}">
            <tr>
                <th th:text="${gift.name}"></th>
                <td th:text="${gift.date}"></td>
                <td>Show gift idea names, link to gift detail page. If there are no gifts, link to Add Gift</td>
                <td>
                    <a th:href="'/recipient/edit-occasion/' + ${occasion.id}">Edit</a>
                </td>
            </tr>
        </th:block>
    </table>
</div>
<!--<a th:href="'/recipient/add-occasion?recipientId=' + ${recipient.id}">Add Occasion</a>-->
<a th:href="'/recipient/add-occasion?recipientId=' + ${recipient.id}">Add Occasion</a>
<a th:href="'/recipient/edit/' + ${recipient.id}">Edit Recipient Info</a>


<div th:replace="fragments :: footer"></div>
</body>
</html>