<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form method="post" class="form" th:action="@{/recipient/edit-occasion}" style="max-width: 400px" th:object="${occasion}">
    <div class="form-group">

        <input class="form-control" type="hidden" th:field="${occasion.recipient}" />

        <select class="form-control" id="standardName" th:field="*{name}" required>
            <option value="" selected>Choose One</option>
            <option th:each="occasion : ${occasions}"
                    th:value="${occasion}"
                    th:text="${occasion}"
                    onclick="chooseStandard()"
            ></option>
            <option value="" onclick="chooseOther()">Other</option>
        </select>

        <input class="form-control" id="customName" placeholder="Add your own" hidden disabled required/>

    </div>

    <div class="form-group" onclick="hideYear()">
        <p>Repeat this occasion yearly?</p>
        <label for="isRecurring">Yes</label>
        <input type="radio" id="isRecurring" th:field="${occasion.recurring}" th:value="true">
        <label for="notRecurring">No</label>
        <input type="radio" id="notRecurring" th:field="${occasion.recurring}" th:value="false">
    </div>

    <div class="form-group">
        <select class="form-control date-select" id="month" onclick="selectDaysInMonth()" required>
            <option value="">Select Month</option>
            <option th:each="month : ${monthNames}"
                    th:value="${month}"
                    th:text="${month}"
            ></option>
        </select>

        <select class="form-control date-select" id="day29" required hidden disabled>
            <option value="">Select Day</option>
            <option th:each="day : ${days29}"
                    th:value="${day}"
                    th:text="${day}"
            ></option>
        </select>
        <select class="form-control date-select" id="day30" required hidden disabled>
            <option value="">Select Day</option>
            <option th:each="day : ${days30}"
                    th:value="${day}"
                    th:text="${day}"
            ></option>
        </select>
        <select class="form-control date-select" id="day31" required>
            <option value="">Select Day</option>
            <option th:each="day : ${days31}"
                    th:value="${day}"
                    th:text="${day}"
            ></option>
        </select>

        <select class="form-control date-select" id="yearSelect" hidden>
            <option value="">Select Year</option>
            <option th:each="year : ${years}"
                    th:value="${year}"
                    th:text="${year}"
            ></option>
        </select>

        <input type="hidden" id="year" value="">
        <input class="form-control" id="date" type="hidden" th:field="${occasion.date}">
    </div>


    <input class="form-control" id="nameField" type="hidden" th:field="${occasion.name}" />

    <input type="hidden" th:value="${occasion.id}" name="id"  />
    <input type="submit" class="btn btn-success" value="Update Occasion" onmousedown="submitOccasion()">

</form>
<div th:replace="fragments :: footer"></div>
</body>
</html>