<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<div th:unless="${recipients.isEmpty()}">
    <table class="table" >
        <tr th:each="recipient : ${recipients}">
            <td>
                <a th:text="${recipient.firstName + ' ' + recipient.lastName}" th:href="@{'/recipient/detail/' + '?recipientId=' + ${recipient.id}}" title="Details for this recipient"></a>
            </td>
            <td th:if="${T(com.liftoff.gifter.models.Occasion).findUpcoming(recipient.occasions).size() > 0}">
                <span th:text="${T(com.liftoff.gifter.models.Occasion).findUpcoming(recipient.occasions).size() + ' upcoming occasions'}"></span>
            </td>
            <td><a th:href="@{'/recipient/edit/' + ${recipient.id}}" title="Edit this recipient">Edit</a></td>
            <td><a th:href="@{'/recipient/edit/' + ${recipient.id}}" title="Remove this recipient">Remove</a></td>
        </tr>
    </table>

    <a href="/recipient/add">Add a Recipient</a>

    <div th:replace="fragments :: footer"></div>
</div>
</body>
</html>