<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<h4>This page is just to test the hit on the recipient 'index' handler ... <br />I'm guessing this is where we will list the Recipients (or have the option to list Recipients)</h4>

<hr />
<h5>A couple links to test the 'add' and 'edit' handlers</h5>
<ul>
    <li><a href="/recipient/add">Add recipient</a></li>
    <li><a href="/recipient/edit/1">Edit recipient (with Id 1)</a></li>
</ul>


</body>
</html>