<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container  body-content">
<h1 th:text="${'Gift: ' + gift.name}">Default Title</h1>

<nav th:replace="fragments :: page-header"></nav>

<div class="gift-listing">
    <p th:text="${'Name: ' + gift.name}"></p>
    <p th:text="${'Description: ' + gift.description}"></p>
    <p>Gift:

    <ul>
        <li th:each="gift : ${gift.recipient}">
            <a th:href="@{'/gifts/view/' + ${recipient.id}}" th:text="${gift.title}"></a>
        </li>
    </ul>
    </p>
</div>


</body>
</html>