<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<h5><Strong>Gifter</Strong> is a gift tracking app to help keep you in the giving spirit.</h5>
<hr />
<h1>What can Gifter do?</h1>
<hr />
    <h3>Keep track of your friends and family</h3>
        <ul>
            <li><strong>Add</strong> as many potential gift recipients as you like.</li>
            <li><strong>Store relevant information,</strong> like their birthday, anniversary, even their shipping address.</li>
            <li><strong>Best friend finishing college?</strong> Edit their info at any time to add new important dates like graduation.</li>
        </ul>
    <h3>Remember that great gift idea you had</h3>
        <ul>
            <li><strong>Find something online</strong> you know your sister would love? Add a gift idea to her page so you don't forget by the time her birthday comes around.</li>
            <li><strong>Want to wait for a better deal?</strong> Add pricing information or a direct link to the product online that you can check whenever you want.</li>
            <li><strong>Mark your gift as purchased</strong> when it's time to buy. Or, simply delete it if you found something better.</li>
        </ul>
    <h3>Provide a personal dashboard</h3>
        <ul>
            <li><strong>Giving may be better than recieving,</strong> but you deserve something nice, too. Gifter can help you put together your own wish list.</li>
            <li><strong>Never forget those important occasions.</strong> Gifter will remind you any time there's a big date coming up, so you'll always be prepared.</li>
        </ul>

<div th:replace="fragments :: footer"></div>
</body>
</html>